body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-link {
  margin-left: 40px;
}

a {
  text-decoration: none;
}
/* i {
  color : black;
  opacity: 1;
  transform: scale(1.3);
}
i:not(:hover){
  opacity: 0.5;
  transform: scale(1);
  filter: blur(.5px);
} */

.univers_div {
  padding: 3% 7%;
}
.univers_div img {
  width: 60%;
}

.brokerage ul li {
  margin-bottom: 10px;
  font-size: small;
}

.create_ticket a {
  margin-bottom: 3%;
}
.support-hero a {
  color: white;
  text-decoration: underline;
}
.navbar form ul li a:hover {
  opacity: 1;
  color: blue;
}